*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    width: 100%;
    background-color: #eeeeee;
    
}

.wrap{
    width: 100%;
}

header{
    background-color: white;
    width: 100%;
    height: 14vh;
}

header p{
    text-align: center;
}
header p input{
    margin-top: 1vh;
    width: 94%;
    height: 10vw;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    background-color: #eeeeee;
    color: #999999;
    text-align: center;
}

header p:nth-of-type(2){
    margin-top: 2vw;
}

header div{
    width: 100vw;
    margin-top: 2.5vh;
    white-space: nowrap;
    overflow: scroll;
}

header div::-webkit-scrollbar{
    display: none;
}

header ul{
    display: flex;
    width: 100%;
    height: 8vw;
    border-bottom: 1px solid #eeeeee;
}

header ul li{
    margin:0px 12px;
    text-align: center;
    cursor: pointer;
    height: 7.8vw;
    color: #444444;
    font-size: 18px;
}

header ul .li1{
    color: red;
    font-weight: bold;
    border-bottom:2px solid red;
}

section{
    background-color: white;
    width: 100%;
    height: 23.2vh;
    margin: auto;
    padding: auto;
    white-space: nowrap;
    overflow: scroll;
}

section::-webkit-scrollbar{
    display: none;
}

section ul{
    display: flex;
    width: 100%;
    height: 20vw;
}

section ul li{
    margin: 0.6vh 15px;
    text-align: center;
}

section ul li img{
    width: 80%;
}
section ul li p{
    width: 55px;
    font-size: 14px;
    color: #666666;
}

.nav{
    width: 100%;
    height: 26.2vw;
    padding:2vw 0px 0px;  
}

.nav-con{
    width: 100%;
    height: 26vw;
    background-color: white;
}

.nav-con-left{
    float: left;
    width: 20%;
    height: 26vw;
}

.nav-con-left p img{
    margin-top: 2vw;
    width: 55%;
}
.nav-con-left h5{
    text-align: center;
    font-size: 15px;
    margin-bottom: 1vw;
}
.nav-con-left p{
    text-align: center;
}

.nav-con-left p:nth-of-type(2){
    font-size: 13px;
    color: #888888;
}

.nav-con-center{
    float: left;
    width: 2%;
    height: 26vw;
}

.nav-con-center img{
    width: 100%;
}

.nav-con-right{
    width: 77%;
    height: 26vw;
    float: right;
}
.nav-con-right ul{
    width: 100%;
    height: 26vw;
    display: flex;
}
.nav-con-right ul li{
    padding:2vw 2vw 2vw 0vw;
    text-align: center;
    width: 25%;
}

.nav-con-right ul li img{
    width: 100%;
}

.nav-con-right ul li p{
    color: red;
    font-weight: bold;
    font-size: 14px;
}

.main{
    background-color: white;
    width: 97%;
    margin-top: 2vw;
    padding: 2vw 0vw 0vw 3vw;
    margin-bottom: 200px;
}


.main ul li{
    margin-bottom: 1vw;
}

.main-con{
    width: 100%;
    margin: auto;
    padding: auto;
    height: 45.5vw;

}

.main-con-left{
    float: left;
    width: 45%;
    height: 43vw;   
    padding: 1vw 0vw; 
}
.main-con-left img{
    border-radius: 2px;
    width: 99%;
}

.main-con-right{
    position: relative;
    float: left;
    width: 50%;
    height: 41vw;
    padding: 2vw 2vw 1vw 1vw;
}
.main-con-right p span{
    width: 70%;
    font-size: 15px;
}

.main-con-right p:nth-of-type(2),.main-con-right p:nth-of-type(3) span:nth-of-type(2){
    position: absolute;
    font-size: 14px;
    color: #999999;
    bottom: 16vw;
}

.main-con-right p:nth-of-type(3) span:nth-of-type(1){
    position: absolute;
    bottom: 8vw;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.main-con-right p:nth-of-type(3) span:nth-of-type(2){
    position: absolute;
    bottom: 8.5vw;
    left: 12vw;
}

.main-con-right p:nth-of-type(4){
    position: absolute;
    bottom: 1.5vw;
    color: #555555;
    font-size: 14px;
}

.main-con-right .div-img{
    position: absolute;
    width: 9vw;
    right: 0px;
    bottom: 7vw;
} 

.main-con-right .div-img-left{
    float: right;
    position: relative;
}

.main-con-right .div-img-right{
    position: absolute;
    right: 2.5vw;
}

.main-con-right .div-img img{
    width: 5.5vw;
    border: 0.5vw solid white;
    border-radius: 50%;
}

.main-con-bottom{
    float: right;
    width: 54%;
    height: 1vw;
    border-top: 1px solid #eeeeee;
} 

footer{
    width: 100%;
    height: 11vw;
    position: fixed;
    bottom: 0px;
    padding: 1vw 0px;
    background-color: white;
    border-top: 1px solid #eeeeee;
}
footer .navp{
    color: red;
}

footer ul{
    display: flex;
}

footer ul li{
    text-align: center;
    cursor: pointer;
    width: 20%;
}
footer ul li p{
    font-size: 12px;
    text-align: center;
}

footer ul li img{
    width: 32%;
}

