*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    background-color: #eeeeee;
    top: 0;
}

.wrap{
 
    width: 100%;
    padding-top: 1.5vh;
    background-color: #eeeeee;
}

.section{
    width: 100%;
    height: 14.7vh;
    background-color: white;
}

.login,.code{
    width: 100%;
    height: 7.3vh;

}

.login-img,.code-img{
    float: left;
    width: 10%;
}

.login-input,.code-input{
    float: left;
    width: 88%;
}
.login-input{
    border-bottom: 1px solid #eeeeee;
}

.section span{
    margin-top: 1.5vh;
    margin-left: 3vw;
    width:5.2vw;
    height: 3.5vh;
    /* 转化成行内块 */
    display: inline-block;
}
.login-img span{
    background: url('../images/登录.png') 0px 0px;
}

.code-img span{
    background: url('../images/登录.png') -23px 0px;
}

.login-input input,.code-input input{
    border: none;
    height: 7vh;
    width: 100%;
    font-size: 18px;
    margin-left: 2vw;
    color: #999999;
}

.code{
    position: relative;
}

.code-input button{
    right: 4vw;
    top: 2vh;
    position: absolute;
    width: 25vw;
    height: 4.5vh;
    color: #f4c0de;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #f4c0de;
    background-color: white;
}

main{
    width: 94%;
    margin: auto;
    padding: auto;
    margin-top: 2.3vh;
}
main button{
    width: 100%;
    height: 6.8vh;
    margin-bottom: 1.4vh;
}

main button:nth-of-type(1){
    background-color: #e02e24;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

main button:nth-of-type(2){
    background-color: white;
    border: 1px solid #e02e24;
    color: #e02e24;
    font-size: 20px;
    border-radius: 5px;
}
main p{
    font-size: 14px;
    margin-top: 0.8vh;
}

main span:nth-of-type(1){
    color: #9c9c9c;
}

main span:nth-of-type(2){
    color: #58595b;
}